/*

https://colors.artyclick.com/color-names-dictionary/color-names/rich-electric-blue-color/ 
https://mycolor.space/?hex=%230892D0&sub=1

*/

[data-md-color-scheme='default'] {
  --md-primary-fg-color: #0892d0;
  --md-primary-fg-color--light: #37a7db;
  --md-primary-fg-color--dark: #0671a2;
  --md-accent-fg-color: #e79c25;
}

[data-md-color-scheme='slate'] {
  --md-primary-fg-color: #0892d0;
  --md-primary-fg-color--light: #37a7db;
  --md-primary-fg-color--dark: #0671a2;
  --md-accent-fg-color: #e79c25;
  --md-hue: 210;
}

/*colore la 1ère ligne du tableau en gris */
.md-typeset table thead tr { 
  background-color: lightgray; 
}

/*colore la 1ère colonne du tableau en gris claire */
.md-typeset table tr td:first-child {
  background-color: #f0f0f0;
}

extra_css:
  - https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css